<div class="input col-md-6 offset-md-3 ">
    <h2 class="text-center mt-2 mb-2">Update Package</h2>
    <form form [formGroup]="updatePackageForm" (ngSubmit)="onSubmit()">
        <div class=" form-group">
            <label>City Name</label>
            <input type="text" class="form-control" id="cityName" name="cityName" formControlName="cityName" [(ngModel)]="package.package.cityName">
            <br>
            <span *ngIf="updatePackageForm.get('cityName')?.invalid && updatePackageForm.get('cityName')?.touched"
                style="color: red;">
                <span *ngIf="updatePackageForm.get('cityName').errors['required']">
                    This field is required!
                </span>
            </span>
        </div>
        <div class=" form-group">
            <label>Base Price</label>
            <input type="text" class="form-control" id="price" formControlName="price" name="price" [(ngModel)]="package.package.price">
            <br>
            <span *ngIf="updatePackageForm.get('price')?.invalid && updatePackageForm.get('price')?.touched"
                style="color: red;">
                <span *ngIf="updatePackageForm.get('price').errors['required']">
                    This field is required!
                </span>
            </span>
        </div>
        <div class="input-group mt-2">
            <label class="input-group-text" for="inputGroupSelect01">Activities</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose Activity...</option>
                <option *ngFor="let activity of activities" value={{activity.activityName}}>{{activity.activityName}}
                </option>
            </select>
        </div>
        <div class="input-group mt-2">
            <label class="input-group-text" for="inputGroupSelect01">Area of interest</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose Area...</option>
                <option *ngFor="let item of areaOfInterest" value={{item.name}}>{{item.name}}</option>
            </select>
        </div>
        <div class="input-group mt-2">
            <label class="input-group-text" for="inputGroupSelect01">Category</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose Category...</option>
                <option *ngFor="let type of types" value={{type.name}}>{{type.name}}</option>
            </select>
        </div>

        <button [disabled]="updatePackageForm.invalid" class="mt-5 btn btn-outline-light" type="submit">Update
            Package</button>
    </form>
</div>